@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap);

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-primary;
}

.contain-height {
  height: 100%;
}
.contain-width {
  height: 100%;
}

.akt-btn {
  padding: 0.5rem 1em;
  border: none;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  &--icon {
    padding: 0.4rem 0.9em;
  }

  &--primary {
    background: $color-primary;
    color: white;
    &:hover:not(:disabled), &:active:not(:disabled), &:focus:not(:disabled) {
      background: darken($color-primary, 5%);
      cursor: pointer;
    }
    &:disabled {
      background: lighten($color-primary, 20%);
      cursor: not-allowed;
    }
    svg {
      margin-right: 0.5rem;
      path {
        fill: white;
      }
    }
  }
  &--secondary {
    background: $color-secondary;
    color: white;
    &:hover:not(:disabled), &:active:not(:disabled), &:focus:not(:disabled) {
      background: darken($color-secondary, 5%);
      cursor: pointer;
    }
    &:disabled {
      background: lighten($color-secondary, 20%);
      cursor: not-allowed;
    }
    svg {
      margin-right: 0.5rem;
      path {
        fill: white;
      }
    }
  }
}
