@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap);

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-primary;
}

.contain-height {
  height: 100%;
}
.contain-width {
  height: 100%;
}

.btn {
  padding: 0.5rem 1em;
  border: none;
  border-radius: $border-radius;

  &--primary {
    background: $color-primary;
    color: white;
  }
  &--secondary {
    background: $color-secondary;
    color: white;
  }
}